<form method="POST" class="form-update" 
action="/admin/manage/edit/{{productEdit._id}}?_method=PUT">
    <h1> Thông tin chỉnh sửa sản phẩm </h1>
    <label for="name"> Tên Giày</label>
    <input type="text" name="name" id="name" value="{{productEdit.name}}" placeholder="Tên giày...">
    <label for="img"> Link Ảnh </label>
    <input type="text" name="img" id="img" value="{{productEdit.img}}" placeholder="Link Ảnh...">
    <div>
        <img src="{{productEdit.img}}" style="max-width: 300px" id="product-img-display">
    </div>
    <label for="costOld"> Giá cũ </label>
    <input type="text" name="costOld" id="costOld" value="{{productEdit.costOld}}" placeholder="Giá Cũ...">
    <label for="costOld"> Giá Mới </label>
    <input type="text" name="costNew" id="costNew" value="{{productEdit.costNew}}" placeholder="Giá mới...">
    <label for="gender"> Giới Tính </label>
    <select name="gender" id="gender">
        <option value="" selected disabled>--------</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
    <label for="brand"> Thương Hiệu </label>
    <select name="brand" id="brand">
        <option value="" selected disabled>-------</option>
        <option value="adidas"> Adidas </option>
        <option value="puma"> Puma </option>
        <option value="converse"> Converse </option>
        <option value="nike"> Nike </option>
        <option value="jordan"> Jordan </option>
        <option value="supreme"> Supreme </option>
    </select>
    <label for="type"> Loại </label>
    <select name="type" id="type">
        <option value="" selected disabled>--------</option>
        <option value="bestseller">Bán chạy nhất</option>
        <option value="latestproduct"> Mới nhất </option>
        <option value=""> Không </option>
    </select>
    <input type="submit" value="Lưu lại">
    <a href="/admin/manage" class="btn-cancel"> Cancel</a>
</form>

<script>
    const inputImg = document.getElementById('img');
    const imgDisplay = document.getElementById('product-img-display');
    inputImg.addEventListener('change', function() {
        imgDisplay.src = this.value
    })
</script>