<div class="light-box-add-product">
    <form method="POST" class="form-add">
        <h1> Thông tin thêm sản phẩm </h1>
        <label for="name"> Tên Giày</label>
        <input type="text" name="name" id="name" placeholder="Tên giày...">
        <label for="img"> Link Ảnh </label>
        <input type="text" name="img" id="img" placeholder="Link Ảnh...">
        <label for="costOld"> Giá cũ </label>
        <input type="text" name="costOld" id="costOld" placeholder="Giá Cũ...">
        <label for="costOld"> Giá Mới </label>
        <input type="text" name="costNew" id="costNew" placeholder="Giá mới...">
        <label for="gender"> Giới Tính </label>
        <select name="gender" id="gender">
            <option value="" disabled>--------</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
        <label for="brand"> Thương Hiệu </label>
        <select name="brand" id="brand">
            <option value="" disabled>-------</option>
            <option value="adidas"> Adidas </option>
            <option value="puma"> Puma </option>
            <option value="converse"> Converse </option>
            <option value="nike"> Nike </option>
            <option value="jordan"> Jordan </option>
            <option value="supreme"> Supreme </option>
        </select>
        <label for="type"> Loại </label>
        <select name="type" id="type">
            <option value="" disabled>--------</option>
            <option value="bestseller">Bán chạy nhất</option>
            <option value="latestproduct"> Mới nhất </option>
            <option value=""> Không </option>
        </select>

        <input type="submit" value="Thêm">
        <div class="btn-cancel"> Cancel</div>

    </form>
</div>


<div class="row">
    <h3>DANH SÁCH SẢN PHẨM</h3>
    <div class="manage">
        {{#if messageAdd}}
        <p class="success"> {{messageAdd}}</p>
        {{/if}}
        {{#if messageUpdate}}
        <p class="success">* {{messageUpdate}}</p>
        {{/if}}
        <button class="btn-add"> Thêm sản phẩm </button>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên giày</th>
                <th>Hình ảnh</th>
                <th>Giới tính</th>
                <th>Giá cũ</th>
                <th>Giá mới</th>
                <th>Thương hiệu</th>
                <th>Loại</th>
                <th colspan="2">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td><img src="{{this.img}}" alt=""></td>
                <td>{{this.gender}}</td>
                <td>{{this.costOld}}</td>
                <td>{{this.costNew}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.type}}</td>
                <td class="update"><a href="/admin/manage/edit/{{this._id}}">Update</a></td>
                <td class="delete"><a href="">Delete</a></td>
            </tr>
            <script src="/js/translate.js"></script>
            {{/each}}
        </tbody>
    </table>
</div>


<script src="/js/light-box-add.js"></script>