<main>

    <!-- sản phẩm mới nhất start  -->

    <section class="latest-products">
        <div class="top">
           <div class="container">
                <div class="row">
                
            {{#if type}}
            <h1 id="heading-type">{{type}}</h1>
            {{/if}}
            {{#if gender}}
            <h1 id="heading-gender">{{gender}}</h1>
            {{/if}}
            {{#if brand}}
            <h1 id="heading-brand">{{brand}}</h1>
            {{/if}}
            <div class="filter">
                    <p>Bộ lọc<i class="fas fa-chevron-down"></i></p>
                    <ul>
                        <li> <a href="/brand/adidas"> Giày Adidas</a> </li>
                        <li><a href="/brand/nike">Giày Nike</a></li>
                        <li> <a href="/brand/converse">Giày Converse</a></li>
                        <li> <a href="/gender/male">Giày Nam</a></li>
                        <li> <a href="/gender/female">Giày Nữ</a></li>
                    </ul>
            </div>
            </div>
           </div>
        </div>
        <hr>
        <div class="container">
            <div class="row product-list">
            {{#each products}}
            <div class="product-item">
                <a href="/product/{{this.slug}}">
                    <img src="{{this.img}}" alt="">
                </a>

                <a href="/product/{{this.slug}}">
                    <h3 class="product-name">{{this.name}}</h3>
                </a>


                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price">
                    <span class="new">{{this.costNew}}.000đ</span>
                    <span class="old">{{this.costOld}}.000đ</span>
                </div>
                <button>
                    <a href="/product/{{this.slug}}">Mua ngay</a>
                </button>
            </div>
            {{/each}}
        </div>
        
            <div id="pagination" class="pages">
                
            </div>
        </div>

    </section>  
    <!-- sản phẩm mới nhất end  -->

<input type="hidden" id="current-page" value="{{currentPage}}">
<input type="hidden" id="total-page" value="{{totalPage}}">
<input type="hidden" id="type" value="{{type}}">
<input type="hidden" id="gender" value="{{gender}}">
<input type="hidden" id="brand" value="{{brand}}">


</main>
<script>
    const pagination = document.getElementById('pagination');

    const totalPage = document.getElementById('total-page').value;
    const currentPage = document.getElementById('current-page').value;
    const type = document.getElementById('type').value;
    const gender = document.getElementById('gender').value;
    const brand = document.getElementById('brand').value;
    var url = '';
    if (type) {
        url = type;
    }
    else if (gender) {
        url = `gender/${gender}`;
    }
    else if (brand) {
        url = `brand/${brand}`;
    }

    console.log(url)
    const btnPages = document.querySelectorAll('.pages li a');
    let html = `<ul>`;
    if (totalPage > 1) {
        for (i = 1;i <= totalPage; i++) {
            if (i == currentPage)
            html += `<li>
                        <a href="/${url}?page=${i}" class="active">${i}</a>
                    </li>`;
            else html += `<li>
                            <a href="/${url}?page=${i}">${i}</a>
                        </li>`;
        }
        html += `</ul>`;
        pagination.innerHTML = html;
    }
  
</script>
<script>
    const headingType = document.getElementById('heading-type')
    const headingGender = document.getElementById('heading-gender')
    const headingBrand = document.getElementById('heading-brand')

    if (headingType != null) {
        const nameType = headingType.textContent
        if (nameType == 'latestproduct')
            headingType.innerText = 'Sản phẩm mới nhất'
        else if (nameType == 'bestseller')
            headingType.innerText = 'Sản phẩm bán chạy nhất'

    }

    if (headingGender != null) {
        const nameGender = headingGender.textContent
        if (nameGender == 'male')
            headingGender.innerText = 'Giày nam'
        else if (nameGender == 'female')
            headingGender.innerText = 'Giày nữ'
    }

    if (headingBrand != null) {
        const nameBrand = headingBrand.textContent
        headingBrand.innerText = `Giày ${nameBrand}`

    }
</script>