<div class="profile">
    <div class="container">
        <div class="row">
            <div class="menu">
                <ul>
                    <li class="active">
                        <p><i class="fas fa-cog"></i>Chung</p>
                    </li>
                    <li>
                        <p><i class="fas fa-shield-alt"></i>Đổi mật khẩu</p>
                    </li>
                </ul>
            </div>
            <div class="profile__general active">
                <h2 class="heading">
                    Thông tin tài khoản chung 
                    <button class="edit-profile">Chỉnh sửa</button> 
                    {{#if success}}
                        <span class="success">{{success}}</span>
                    {{/if}}
                     {{#if error}}
                        <span class="error">{{error}}</span>
                    {{/if}}
                </h2>
                <hr>
                <table>
                    <tr>
                        <th>Họ tên</th>
                        <td>{{user.name}}</td>
                        <td rowspan="2">
                                <form method="POST" action="/profile/{{user._id}}?_method=PUT" id="form-profile">
                                    <label for="name">Họ tên</label>
                                    <input type="text" name="name" id="name" value="{{user.name}}">
                                    <button type="submit" class="submit">Cập nhật</button> 
                                </form>
                        </td>
                    </tr>
                        <th>Địa chỉ</th>
                        <td>{{user.address.province}}-{{user.address.district}}-{{user.address.subDistrict}}</td>
                </table>
            </div>
            <div class="profile__general change-password">
                <h2 class="heading">Đổi mật khẩu</h2>
                <hr>
                <form class="form-change-password" method="POST" action="/profile/change-password/{{user._id}}?_method=PUT">
                    <table>
                        <tr>
                            <th>Mật khẩu hiện tại</th>
                            <td>
                               <div class="form-group">
                                   <div class="form-input">
                                        <input class="form-control" type="password" name="oldPass" class="old-pass" required>
                                        <i class="fas fa-eye-slash eye"></i>
                                   </div>
                               </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Mật khẩu mới</th>
                            <td>
                                <div class="form-group">
                                    <div class="form-input">
                                        <input class="form-control new-pass" type="password" name="newPass" required>
                                        <i class="fas fa-eye-slash eye"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Nhập lại mật khẩu mới</th>
                            <td>
                                <div class="form-group">
                                    <div class="form-input">
                                        <input class="form-control confirm-new-pass" type="password" required>
                                        <i class="fas fa-eye-slash eye"></i>
                                    </div>
                                    <p class="form-group__message">Mật khẩu không khớp!!</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="submit" class="submit btn-change-password">Cập nhật</button> </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    const formProfile = document.getElementById('form-profile');
    const btnEdit = document.querySelector('.edit-profile');
    const menuItems = document.querySelectorAll('.menu li')
    const profileGeneral = document.querySelectorAll('.profile__general');
    
   menuItems.forEach(function(item, index) {
       item.onclick = (e) => {
            const menuItemActive = document.querySelector('.menu li.active')
            const profileGeneralActive = document.querySelector('.profile__general.active');

            menuItemActive.classList.remove('active')
            e.currentTarget.classList.toggle('active')

            profileGeneralActive.classList.remove('active')
            profileGeneral[index].classList.toggle('active')
        }
    })
 
    btnEdit.onclick = function() {
        formProfile.classList.toggle('active');
    }



    //show/hide password
    const eyeSlashList = document.querySelectorAll('.eye')
    eyeSlashList.forEach(function(eyeSlash, index) {
        eyeSlash.onclick = (e) => {
            console.log(e.target)
            e.target.classList.toggle('fa-eye')
            e.target.classList.toggle('fa-eye-slash')
            const formGroup = e.target.parentElement
            const formControl = formGroup.children[0];
            if (formControl.type == 'text') {
                formControl.type = 'password'
            } else {
                formControl.type = 'text'
            }
        }
    })

    const btnSubmitChangePassword = document.querySelector('.submit.btn-change-password')
    const formChangePassword = document.querySelector('.form-change-password')

    function validateConfirmPassword() {
        const newPassValue          = formChangePassword.querySelector('.new-pass').value;
        const confirmNewPassValue   = formChangePassword.querySelector('.confirm-new-pass').value;

        const formGroupNewPass              = formChangePassword.querySelector('.new-pass').parentElement.parentElement
        const formGroupConfirmNewPass       = formChangePassword.querySelector('.confirm-new-pass').parentElement.parentElement
        
        if (confirmNewPassValue != newPassValue) {
            if (formGroupNewPass.classList.contains('validate-success')) {
                formGroupNewPass.classList.remove('validate-success')
            }
            if (formGroupConfirmNewPass.classList.contains('validate-success')) {
                formGroupConfirmNewPass.classList.remove('validate-success')
            }
            formGroupNewPass.classList.add('validate-error')
            formGroupConfirmNewPass.classList.add('validate-error')
            return false;
        }
        else {
            if (formGroupNewPass.classList.contains('validate-error')) {
                formGroupNewPass.classList.remove('validate-error')
            }
            if (formGroupConfirmNewPass.classList.contains('validate-error')) {
                formGroupConfirmNewPass.classList.remove('validate-error')
            }
            formGroupNewPass.classList.add('validate-success')
            formGroupConfirmNewPass.classList.add('validate-success')
            return true;
        }   
    }

    const newPassInput  = formChangePassword.querySelector('.new-pass');
    const confirmNewPassInput  = formChangePassword.querySelector('.confirm-new-pass');

    
    confirmNewPassInput.addEventListener('blur', function() {
            validateConfirmPassword()
            newPassInput.addEventListener('blur', function() {
                validateConfirmPassword()
            })
    })
    formChangePassword.addEventListener('submit', function(e) {
        e.preventDefault();
        let isTrue = validateConfirmPassword()
        if (isTrue)
            formChangePassword.submit();
    })
    
</script>

